.base-filter,
.el-cover{
  .el-select,
  .el-input{
    width: 120px;
  }
}
.el-table td, .el-table th{
  padding: 0 0 0 0;
  height: 40px;
}
.el-table-column--selection .cell{
  padding-left: 10px;
}
.el-dialog__body{
  padding: 20px;
}
.el-dialog__footer{
  padding-top: 0;
}
