$headerHeight: 60px;
$headerBgColor: #333;
$footerHeight: 60px;
$layoutContentHeight: calc(100vh - 120px);
$leftSideWidth: 200px;
$layoutContentMarginLeft: 220px;
$bgColor: #ffffff;
$menuActColor: #3399ff;
